*.[oa]
*.*
*.sln
*.vcxproj
.vs
Debug
build
buildvs
CMakeFiles
out
!*.c
!*.h
!*.json
!*.gitignore
!*.txt
!*.md
!*.cmake
!*.pdf
!*.csv
!Debug/*.exe
!Release/*.exe
roughcopy.txt
.cmake
version_generator
build
f